@import "tailwindcss";

/* Target the root elements of the website */
html, body {
  /* Hide for Chrome, Safari, and newer Edge */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide for Firefox */
  scrollbar-width: none;

  /* Hide for IE and old Edge */
  -ms-overflow-style: none;
  
  /* Prevent horizontal wobbling */
  overflow-x: hidden; 
}