/* Target the scrollable PDF container */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(176, 132, 93, 0.6); /* Or a custom hex like #57534e */
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(176, 132, 93, 1); /* Highlight color on hover */
}

@keyframes scan {
  0% { top: -5%; opacity: 0; }
  15% { opacity: 1; }
  85% { opacity: 1; }
  100% { top: 105%; opacity: 0; }
}

.animate-scan {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, transparent, #fb923c, transparent);
  box-shadow: 0 0 20px 2px #fb923c;
  animation: scan 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}